$white: #ffffff;
$black: #000000;
$gray: #89898C;
$btn-red: #E64541;
$btn-orange: #FFBA00;
$btn-green: #1C9342;
$btn-blue: #0075FF;
$btn-yellow: #FFBA00;
$btn-padding: .6rem .85rem;
$bd-radius: 4px;